<div class="container-fluid pt-4">
    <div class="container">
        <div class="row ms-4">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <h3>Company Info</h3>
                        <p class="TextThird">About Us</p>
                        <p class="TextThird">Carrier</p>
                        <p class="TextThird">We are hiring</p>
                        <p class="TextThird">Blog</p>
                    </div>
                    <div class="col">
                        <h3>Legal</h3>
                        <p class="TextThird">About Us</p>
                        <p class="TextThird">Carrier</p>
                        <p class="TextThird">We are hiring</p>
                        <p class="TextThird">Blog</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3>Features</h3>
                        <p class="TextThird">Business Marketing</p>
                        <p class="TextThird">User Analytic</p>
                        <p class="TextThird">Live Chat</p>
                        <p class="TextThird">Unlimited Support</p>
                    </div>
                    <div class="col">
                        <h3>Resources</h3>
                        <p class="TextThird">IOS & Android</p>
                        <p class="TextThird">Watch a Demo</p>
                        <p class="TextThird">Customers</p>
                        <p class="TextThird">API</p>
                    </div>
                    <div class="col">
                        <h3>Get In Touch</h3>
                        <p class="TextThird"><img src="../../assets/frontend-interview-assets/frontend-interview-assets/contact.svg" alt=""> (480) 555-0103</p>
                        <p class="TextThird"><img src="../../assets/frontend-interview-assets/frontend-interview-assets/location.svg" alt=""> 4517 Washington Ave. Manchester, 
                            Kentucky 39495</p>
                        <p class="TextThird"><img src="../../assets/frontend-interview-assets/frontend-interview-assets/email.svg" alt=""> debra.holt@example.com</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="container me-5">
        <div class="row">
            <div class="col">
                <p class="TextThird">Made With Love By Figmaland All Right Reserved</p>
            </div>
            <div class="col-2 me-auto d-flex">
                <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
              </div>
        </div>
    </div>
</div>