<div class="pl-5 me-auto">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand me-5" href="#">Brandname</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>

                </ul>
                <ul class="navbar-nav me-5 mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <a class="nav-link active me-4" aria-current="page" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active btn JoinUS " aria-current="page" href="#">JOIN US <img
                                src="../../assets/ArrowVector.png" width="15px" height="12px" alt="arrow"
                                style="margin-bottom: 3px;"></a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

</div>
<div class="container-fluid bgColor">
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 120px;">
                <div class="row">
                    <p style="color: #96BB7C;font-size: 16px;font-weight: bold;">WELCOME</p>
                </div>
                <div class="row">
                    <p class="fw-bold" style="font-size: 58px;">Best Learning Opportunities</p>
                </div>
                <div class="row">
                    <p style="color: #737373;font-size: 20px;">Our goal is to make online <br> education work for
                        everyone</p>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn JoinUS">Join Us</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="../../assets/hero-cover-1.png" alt="hero" width="704px" height="580px">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container" style="padding-top: 150px;padding-bottom: 150px;">
        <div class="row">
            <div class="col p-5">
                <div class="ms-0 pt-1" style="background-color: #E74040;width: 50px;height: 5px;"></div>
                <h1 class="pt-2">Approdable Packages</h1>
                <div class="row pt-4">
                    <div class="col-6">
                        <p style="color: #737373;font-size: 14px;">Problems trying to resolve the conflict between
                            the two major realms of Classical physics:
                            Newtonian mechanics </p>
                    </div>
                </div>
                <div class="col">
                    <button class="btn " style="color: #96BB7C;">Learn More <img src="../../assets/@none.png"
                            alt=""></button>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card p-3">
                            <div class="row col-3 p-2 ms-3">
                                <button class="btn JoinUS" style="height: 60px;padding-left: 8px;"><img
                                        src="../../assets/icon cool-icon-n2.svg" alt="svg"></button>
                            </div>
                            <h3 class="ms-4">Certified Teacher</h3>
                            <div class="ms-4 pt-1" style="background-color: #E74040;width: 50px;height: 2px;"></div>
                            <div class="ms-4 pt-4">
                                <p style="color: #737373;">The gradual <br>
                                    accumulation of <br>
                                    information about </p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card p-3">
                            <div class="row col-3 p-2 ms-3">
                                <button class="btn JoinUS" style="height: 60px; padding-left: 8px;"><img
                                        src="../../assets/013-telescope-1.svg" alt="svg"></button>
                            </div>
                            <h3 class="ms-4">Expert instruction</h3>
                            <div class="ms-4 pt-1" style="background-color: #E74040;width: 50px;height: 2px;"></div>
                            <div class="ms-4 pt-4">
                                <p style="color: #737373;">The gradual <br>
                                    accumulation of <br>
                                    information about </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="ms-4">
            <p style="color: #96BB7C;">Team</p>
            <h2>Get Quality Education</h2>
            <p class="TextThird">Problems trying to resolve the conflict between <br>
                the two major realms of Classical physics: Newtonian mechanics</p>
        </div>
    </div>
    <div class="container" style="padding-bottom: 150px;">
        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-group">
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="card-group">
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cardStyle m-4 ">
                            
                            <div class="card-body text-center">
                                <h5 class="card-title">Julian Jameson</h5>
                                <p class="card-text" style="font-size: 12px;color: #737373;">Profession</p>
                                <div class="row">
                                  <div class="col">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" width="24px" height="24px" alt="">
                                    <img class="me-3 ms-3" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" width="24px" height="24px" alt="px">
                                    <img src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg" width="24px" height="24px" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid EmailSection">
    <div class="container text-center">
           <p style="color: #96BB7C;font-size: 14px;">Newsletter</p>
           <h2 class="fw-bold">Watch our Courses</h2>
           <p class="TextThird">Problems trying to resolve the conflict between <br>
            the two major realms of Classical physics: Newtonian mechanics </p>

            <div class="p-2 mt-4 text-center">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-3"></div>
                    <div class="col-6 mb-3">
                     
                      <input type="email" class="form-control" id="email" formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                      placeholder="Your Email">
                      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                          <div *ngIf="f['email'].errors['required']">Email is required</div>
                          <div *ngIf="f['email'].errors['email']">Email must be a valid email address
                          </div>
                      </div>
                    </div>
                    <div class="col-1"><button class="btn Subscribe">Subscribe</button></div>
                    </div>
                    </form>
            </div>
    </div>
</div>