.navbar{
    background-color: #FDF3F1 !important;
}
.JoinUS{
    background-color: #96BA7B !important;
    color: white !important;
}
.bgColor{
    background-color: #FDF3F1 !important;
}
.btn-outline-success:hover{
    background-color: #96BA7B !important;
    border-color: #96BA7B !important;
}
.TextThird{
    color: #737373;
    font-size: 14px;
}
.cardStyle{
    border-radius: 0px solid ;
    border: none !important;
    height: 375px !important;
    width: 241px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 rgba(0, 0, 0, 0.10);
    padding-top: 200px;
}
.EmailSection{
    background-color: #FDF3F1 !important;
    padding-top: 150px;
    padding-bottom: 150px;
}
.Subscribe{
    background-color: #96BA7B !important;
    color: white !important;
    position: relative;
    right: 30px;
}