<div class="container-fluid">
    <div class="container">
        <div class="navbar d-flex">
            <ul class="ms-auto ">
                <li>
                    LOGO
                </li>
            </ul>
            <ul type="none" class="navBar d-flex gap-5 ms-auto fw-bold fs-20">

                <li class="list-item">Expertise</li>
                <li class="list-item">Service</li>
                <li class="list-item">Plans</li>
                <li class="list-item">FAQ</li>
                <li class="list-item">Contact</li>
                <li class="list-item">Sign in</li>
            </ul>
        </div>
        {{ name | titlecase }}
    </div>
</div>
